<%- include("header")  -%>

<h1  class="font-bold text-4xl text-center m-5"> Attendance </h1>



<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">  
    <!--Card 1-->

    <% attendanceArray.forEach( attendance => { %>
    <form action="/attendance" method="POST">

    <div class="max-w-sm rounded overflow-hidden shadow-lg hover:bg-purple-200">
      
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2"><%= attendance.subject.subjectName %> (<%= attendance.subject.subjectCode %>)</div>
        <div class="mb-2">
          <span class="font-bold text-gray-700 text-xl"><%= ((attendance.lectureAttended / attendance.totalLecturesByFaculty) * 100).toFixed(2) %>%</span>
        </div>
          
        <!-- <script>
          function myFunction(){
          let bar = document.querySelector('#bar') 
          bar.style.width = ((attendance.lectureAttended / attendance.totalLecturesByFaculty) * 100).toString() + '%' 
          }
        </script> -->
        
        <div class="overflow-hidden h-2 text-xs flex rounded bg-pink-200">
          <div style=" width : <%= (attendance.lectureAttended / attendance.totalLecturesByFaculty) * 100 %>% " class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-pink-500" id="bar"></div>
        </div>
      </div>
      <input type="text" name="lectures" value="<%= JSON.stringify(attendance.lectures) %>" hidden />
      <input type="text" name="subjectName" value="<%= attendance.subject.subjectName %> (<%= attendance.subject.subjectCode %>)" hidden />
      <div class="flex justify-center">
        <button class="rounded-full shadow-md flex items-center shadow bg-blue-500 px-4 py-2 text-white hover:bg-blue-600">
          View Attendance
        </button>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= attendance.subject.subjectCode %></span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= attendance.subject.type %></span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">credits: <%= attendance.subject.totalCradits %></span>
      </div>
    </div>

    </form>

    <% })%>

    <!--Card 2-->
    <!-- <div class="max-w-sm rounded overflow-hidden shadow-lg hover:bg-purple-200">
      
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Internet of Things (BTCS 602)</div>
        <div class="mb-2">
          <span class="font-bold text-gray-700 text-xl">70%</span>
        </div>
        <div class="overflow-hidden h-2 text-xs flex rounded bg-pink-200">
          <div style="width:70%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-pink-500"></div>
        </div>
      </div>
      <div class="flex justify-center">
        <button class="rounded-full shadow-md flex items-center shadow bg-blue-500 px-4 py-2 text-white hover:bg-blue-600">
          View Attendance
        </button>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">BTCS602</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">diff: medium</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">cradits: 4</span>
      </div>
    </div> -->


  </div>

  

<%- include("footer")  -%>